<h1>Page Type List</h1>
@if (enumList.length > 0) {
  <div class="d-flex justify-content-end my-2">
    <button (click)="toggleLiveTrashModal()" class="btn btn-warning me-2"><svg [cIcon]="icons.cilTrash" width="25" class="text-white" title="Trash Icon"></svg></button>
    <button (click)="toggleLiveCreateModel()" class="btn btn-success"><svg [cIcon]="icons.cilPlus" width="25" class="text-white" title="Plus Icon"></svg></button>
  </div>
}
<app-data-table [data]="pageInformation"
(changePageIndex)="onPageIndexChange($event)" (changePageSize)="onPageSizeChange($event)">

  <thead class="text-nowrap text-truncate">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Label</th>
      <th scope="col">Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (item of data.items; track item.id; let i = $index) {
      <tr>
          <td>{{ i+1 }}</td>
          <td>{{ item.label }}</td>
          <td>{{ item.name }}</td>
          <td>
            <div class="d-flex justify-content-end">
              <button (click)="updateData(item.id)" class="btn btn-primary me-2"><svg [cIcon]="icons.cilPen" width="25" class="text-white" title="Edit Icon"></svg></button>
              <button (click)="softDeleteData(item.id)" class="btn btn-danger"><svg [cIcon]="icons.cilTrash" width="25" class="text-white" title="Delete Icon"></svg></button>
            </div>
          </td>
      </tr>
    }
  </tbody>
</app-data-table>

<!-- Create Modal -->
<c-modal backdrop="static" size="lg" scrollable [visible]="visibleCreateModal" (visibleChange)="handleLiveCreateModelChange($event)" id="verticallyCenteredCreateModal">
  <c-modal-header>
    <h5 cModalTitle>Create Information Page</h5>
    <button (click)="toggleLiveCreateModel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
      <form cForm [formGroup]="createForm" (ngSubmit)="onSubmitCreateForm()">
      <div class="mb-2 row">
        <div class="col-12 col-md-6">
            <label cLabel for="label" class="me-2">Select Label: <span class="text-danger">(*)</span></label>
            <select cFormControl formControlName="label" cSelect class="me-2">
                <option value="" disabled>Select Label</option>
              @for (item of enumList; track $index) {
                <option [value]="item">{{ item }}</option>
              }
            </select>
            @if (labelCreateForm?.invalid && (labelCreateForm?.dirty || labelCreateForm?.touched)) {
              <div class="text-danger">
                @if (labelCreateForm?.hasError('required')) {
                  <div>
                    Page type is required.
                  </div>
                }
              </div>
            }
        </div>
        <div class="col-12 col-md-6">
          <label cLabel for="name" class="me-2">Name: <span class="text-danger">(*)</span> </label>
          <input cFormControl formControlName="name">
          @if (nameCreateForm?.invalid && (nameCreateForm?.dirty || nameCreateForm?.touched)) {
            <div class="text-danger">
              @if (nameCreateForm?.hasError('required')) {
                <div>
                  TitleEN is required.
                </div>
              }
            </div>
          }
        </div>
      </div>
    </form>
    </c-modal-body>
      <c-modal-footer>
        <button (click)="toggleLiveCreateModel()" cButton color="secondary">
          Close
        </button>
        <button cButton (click)="onSubmitCreateForm()" [disabled]="!createForm.valid" color="primary">Save</button>
      </c-modal-footer>
</c-modal>
<!--Update Model-->
<c-modal backdrop="static" size="lg"  scrollable  [visible]="visibleUpdateModal" (visibleChange)="handleLiveUpdateModelChange($event)" id="verticallyCenteredUpdateModal" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Update SubCategory</h5>
    <button (click)="toggleLiveUpdateModel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
      <form cForm [formGroup]="updateForm" (ngSubmit)="onSubmitUpdateForm()">
      
        <div class="mb-2 row">
          <div class="col-12 col-md-6">
            <label cLabel for="label" class="me-2">Label: <span class="text-danger">(*)</span> </label>
            <input cFormControl formControlName="label" readonly>
          </div>
          <div class="col-12 col-md-6">
            <label cLabel for="name">Name: <span class="text-danger">(*)</span></label>
            <input cFormControl formControlName="name">
            @if (nameUpdateForm?.invalid && (nameUpdateForm?.dirty || nameUpdateForm?.touched)) {
              <div class="text-danger">
                @if (nameUpdateForm?.hasError('required')) {
                  <div>
                    TitleVN is required.
                  </div>
                }
              </div>
            }
          </div>  
        </div>
    </form>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveUpdateModel()" cButton color="secondary">
        Close
      </button>
      <button cButton (click)="onSubmitUpdateForm()" [disabled]="!updateForm.valid" color="primary">Save</button>
    </c-modal-footer>
</c-modal>

<!--Delete Model-->
<c-modal backdrop="static"  [visible]="visibleDelete" (visibleChange)="handleLiveDeleteChange($event)" id="verticallyCenteredDelete">
  <c-modal-header>
    <h5 cModalTitle>Confirmation</h5>
    <button (click)="toggleLiveDelete()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <p>Are you sure you want to delete this page type?</p>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDelete()" cButton color="secondary">
      Close
    </button>
    <button (click)="deleteDataConfirm()" cButton color="primary">Confirm</button>
  </c-modal-footer>
</c-modal>

<!-- Trash Modal -->
<c-modal backdrop="static" [visible]="visibleTrashModal" (visibleChange)="handleLiveTrashModalChange($event)" id="verticallyCenteredTrashModal" size="xl">
  <c-modal-header>
    <h5 cModalTitle><svg [cIcon]="icons.cilTrash" width="25" class="text-dark" title="Trash Icon"></svg> Trash</h5>
    <button (click)="toggleLiveTrashModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-data-table [data]="trashPageInformation"
    (changePageIndex)="onTrashPageIndexChange($event)" (changePageSize)="onTrashPageSizeChange($event)">
    <thead class="text-nowrap text-truncate">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Label</th>
        <th scope="col">Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of trashData.items; track item.id; let i = $index) {
        <tr>
            <td>{{ i+1 }}</td>
            <td>{{ item.label }}</td>
            <td>{{ item.name }}</td>
            <td>
              <div class="d-flex justify-content-end">
                <button (click)="restoreData(item.id)" class="btn btn-primary me-2">
                    <svg [cIcon]="icons.cilLoopCircular" width="25" class="text-white"
                         title="Restore Icon"></svg>
                    Restore
                </button>
                <button (click)="deleteDataTrash(item.id)" class="btn btn-danger">
                    <svg [cIcon]="icons.cilTrash" width="25" class="text-white" title="Delete Icon"></svg>
                    Delete
                </button>
              </div>
            </td>
        </tr>
      }
    </tbody>
    </app-data-table>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveTrashModal()" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>
