@font-face {
  font-family: "Satisfy Regular";
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway SemiBold";
  src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway Bold";
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Bitter Regular";
  src: url("../assets/fonts/Bitter/Bitter-Regular.ttf");
  font-display: swap;
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#endregion*/
/*#region font family*/
/*#endregion*/
/*#region responsive*/
/*#endregion*/
/*#region banner*/
.blogBanner {
  background-image: url("../assets/images/blog/banner.jpg");
}

/*#endregion*/
/*#region blog standard*/
.blogStandard {
  padding-top: 150px;
  padding-bottom: 113px;
}
@media only screen and (width < 1200px) {
  .blogStandard {
    padding-top: 110px;
    padding-bottom: 90px;
  }
}
@media only screen and (width < 992px) {
  .blogStandard {
    padding-top: 90px;
    padding-bottom: 80px;
  }
}
@media only screen and (width < 768px) {
  .blogStandard {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.blogStandard img {
  width: 100%;
}
.blogStandard a {
  text-decoration: none;
  background-color: transparent;
  color: #333333;
}
.blogStandard ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.blogStandard .blogPost, .blogStandard .blogSingle {
  padding-right: 10px;
}
@media only screen and (width < 768px) {
  .blogStandard .blogPost, .blogStandard .blogSingle {
    padding-right: 0;
  }
}
.blogStandard .blogPost .post {
  margin-bottom: 69px;
}
@media only screen and (width < 992px) {
  .blogStandard .blogPost .post {
    margin-bottom: 30px;
  }
}
@media only screen and (width < 768px) {
  .blogStandard .blogPost .post {
    margin-bottom: 49px;
  }
}
.blogStandard .blogPost .post .postThumb {
  overflow: hidden;
  position: relative;
}
.blogStandard .blogPost .post .postThumb img {
  transition: transform 0.5s ease;
}
.blogStandard .blogPost .post .postDate {
  position: absolute;
  display: inline-block;
  background: #CDAA7C;
  width: 92px;
  height: 92px;
  padding: 4px;
  right: 30px;
  top: 27px;
}
@media only screen and (width < 1200px) {
  .blogStandard .blogPost .post .postDate {
    top: 10px;
    right: 10px;
    width: 57px;
    height: 57px;
    padding: 3px;
  }
}
@media only screen and (width < 992px) {
  .blogStandard .blogPost .post .postDate {
    width: 72px;
    height: 72px;
    right: 20px;
    top: 17px;
  }
}
@media only screen and (width < 768px) {
  .blogStandard .blogPost .post .postDate {
    width: 62px;
    height: 62px;
    right: 10px;
    top: 10px;
  }
}
.blogStandard .blogPost .post .postDate .inner {
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 100%;
  color: #fff;
  display: -webkit-inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.blogStandard .blogPost .post .postDate .inner .date {
  font-size: 35px;
  line-height: 1.05;
}
@media only screen and (width < 992px) {
  .blogStandard .blogPost .post .postDate .inner .date {
    font-size: 35px;
  }
}
@media only screen and (width < 768px) {
  .blogStandard .blogPost .post .postDate .inner .date {
    font-size: 27px;
  }
}
.blogStandard .blogPost .post .postDate .inner .month {
  font-size: 16px;
  text-transform: uppercase;
}
@media only screen and (width < 992px) {
  .blogStandard .blogPost .post .postDate .inner .month {
    font-size: 15px;
  }
}
@media only screen and (width < 768px) {
  .blogStandard .blogPost .post .postDate .inner .month {
    font-size: 14px;
  }
}
.blogStandard .blogPost .post .postBody {
  padding-top: 37px;
}
@media only screen and (width < 992px) {
  .blogStandard .blogPost .post .postBody {
    padding-bottom: 10px;
  }
}
.blogStandard .blogPost .post .postBody h4 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 16px;
  line-height: 1.3;
  color: #333333;
  font-size: 25px;
}
.blogStandard .blogPost .post .postBody h4 a {
  color: #333333;
}
.blogStandard .blogPost .post .postBody p {
  line-height: 1.8;
  margin-bottom: 26px;
}
.blogStandard .blogPost .post .postBody .end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (width < 768px) {
  .blogStandard .blogPost .post .postBody .end {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (width < 768px) {
  .blogStandard .blogPost .post .postBody .end .postMeta {
    order: 2;
  }
}
.blogStandard .blogPost .post .postBody .end .postMeta .postAuthor {
  font-size: 14px;
  color: #333333;
  display: inline-block;
  margin-right: 22px;
}
@media only screen and (width < 768px) {
  .blogStandard .blogPost .post .postBody .end .postMeta .postAuthor {
    margin-bottom: 10px;
  }
}
.blogStandard .blogPost .post .postBody .end .postMeta .postAuthor .thumb {
  color: #333333;
  margin-right: 5px;
}
.blogStandard .blogPost .post .postBody .end .postMeta .postAuthor .thumb img {
  width: 32px;
}
.blogStandard .blogPost .post .postBody .end .postMeta .tagCloud {
  font-size: 14px;
  display: inline-block;
}
.blogStandard .blogPost .post .postBody .end .postMeta .tagCloud span {
  margin-right: 3px;
  display: inline-block;
}
.blogStandard .blogPost .post .postBody .end .postMeta .tagCloud a:last-child:after {
  content: "";
}
.blogStandard .blogPost .post .postBody .end .postMeta .tagCloud a:after {
  content: "/";
  margin-left: 4px;
}
.blogStandard .blogPost .post .postBody .end .readMore {
  text-transform: uppercase;
  color: #333333;
  text-decoration: underline;
  display: inline-block;
}
@media only screen and (width < 768px) {
  .blogStandard .blogPost .post .postBody .end .readMore {
    order: 1;
    margin-bottom: 20px;
  }
}
.blogStandard .pagination ul {
  display: flex;
  justify-content: center;
  width: 100%;
}
.blogStandard .pagination a {
  color: #999;
}
.blogStandard .pagination .pageNumber {
  font-size: 20px;
  padding: 0 13px;
  cursor: pointer;
}
.blogStandard .pagination .pageNumber.prevPage, .blogStandard .pagination .pageNumber.nextPage {
  font-size: 15px;
  display: inline-block;
  margin-top: 6px;
}
.blogStandard .pagination .pageNumber.current, .blogStandard .pagination .pageNumber:hover {
  color: #333333;
}
@media only screen and (width < 768px) {
  .blogStandard .sidebar {
    margin-top: 50px;
  }
}
.blogStandard .sidebar .widgets {
  margin-bottom: 39px;
}
.blogStandard .sidebar .widgetTitle {
  text-transform: uppercase;
  margin-bottom: 19px;
}
.blogStandard .sidebar .widgetTitle h5 {
  font-weight: 700;
  line-height: 1.3;
  color: #333333;
}
.blogStandard .sidebar .widgetPerson {
  background: #181818;
  padding: 15px;
  margin-bottom: 45px;
}
.blogStandard .sidebar .widgetPerson .inner {
  border: 1px solid rgba(205, 170, 124, 0.5);
  text-align: center;
  padding: 30px 10px 26px;
}
.blogStandard .sidebar .widgetPerson .inner .personImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.blogStandard .sidebar .widgetPerson .inner .widgetTitle {
  margin-bottom: 14px;
  margin-top: 24px;
}
.blogStandard .sidebar .widgetPerson .inner .widgetTitle h6 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.blogStandard .sidebar .widgetPerson .inner .widgetTitle span {
  text-transform: capitalize;
  color: #CDAA7C;
}
.blogStandard .sidebar .widgetPerson .inner .signature {
  width: 90px;
  object-fit: contain;
}
.blogStandard .sidebar .widgetCategories ul li {
  margin-bottom: 13px;
}
.blogStandard .sidebar .widgetCategories ul li a {
  color: #666666;
}
.blogStandard .sidebar .widgetCategories ul li:last-child {
  margin-bottom: 0;
}
.blogStandard .sidebar .widgetRecentEntries .widgetTitle {
  margin-bottom: 22px;
}
.blogStandard .sidebar .widgetRecentEntries .latestPostItem {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
.blogStandard .sidebar .widgetRecentEntries .latestPostItem .thumb {
  margin-right: 14px;
}
.blogStandard .sidebar .widgetRecentEntries .latestPostItem .thumb img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.blogStandard .sidebar .widgetRecentEntries .latestPostItem .heading h6 a {
  font-weight: 600;
  margin-bottom: 6px;
}
.blogStandard .sidebar .widgetRecentInstagram .row {
  margin-left: -5px;
  margin-right: -5px;
}
.blogStandard .sidebar .widgetRecentInstagram .colHolder {
  padding-right: 5px;
  padding-left: 5px;
}
.blogStandard .sidebar .widgetRecentInstagram a {
  display: block;
  margin-bottom: 10px;
}
.blogStandard .sidebar .widgetRecentInstagram img {
  max-width: 100%;
}
.blogStandard .sidebar .widgetRecentTagCloud .tagCloud a {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  padding: 8px 14px;
  color: #666666;
  margin-right: 15px;
  margin-bottom: 15px;
}

/*#endregion*/
