USE [LipstickDatabase_Dev]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Blogs]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicId] [int] NOT NULL,
	[SubjectEN] [nvarchar](max) NOT NULL,
	[SubjectVN] [nvarchar](max) NOT NULL,
	[DescriptionEN] [nvarchar](max) NULL,
	[DescriptionVN] [nvarchar](max) NULL,
	[ContentEN] [nvarchar](max) NOT NULL,
	[ContentVN] [nvarchar](max) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Brands]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](225) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Priority] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Categories]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameEN] [nvarchar](225) NOT NULL,
	[NameVN] [nvarchar](225) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[InNavbar] [bit] NOT NULL,
	[Priority] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Colors]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameVN] [nvarchar](100) NOT NULL,
	[NameEN] [nvarchar](100) NOT NULL,
	[Priority] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_Colors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_HomeBanners]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_HomeBanners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BannerTypeId] [int] NOT NULL,
	[Animation] [nvarchar](max) NULL,
	[ImageName] [nvarchar](max) NOT NULL,
	[SubjectEN] [nvarchar](max) NULL,
	[SubjectVN] [nvarchar](max) NULL,
	[DescriptionEN] [nvarchar](max) NULL,
	[DescriptionVN] [nvarchar](max) NULL,
	[RedirectUrl] [nvarchar](max) NULL,
	[Priority] [int] NOT NULL,
	[TagENs] [nvarchar](max) NULL,
	[TagVNs] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_HomeBanners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_OrderDetails]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_OrderDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ProductId] [int] NOT NULL,
	[NameEN] [nvarchar](max) NOT NULL,
	[NameVN] [nvarchar](max) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[SaleOff] [bit] NOT NULL,
	[DiscountPercent] [int] NULL,
	[SalePrice] [float] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Table_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Orders]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[ShippingAddress] [nvarchar](max) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[PaymentStatusId] [int] NOT NULL,
	[ShippingDate] [datetime2](7) NULL,
	[ReceiveDate] [datetime2](7) NULL,
	[Note] [nvarchar](max) NULL,
	[Amount] [float] NOT NULL,
	[TotalQuantity] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[OrderStatusId] [int] NOT NULL,
 CONSTRAINT [PK_Table_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_PageContents]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_PageContents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PageTypeId] [int] NOT NULL,
	[TitleEN] [nvarchar](max) NOT NULL,
	[TitleVN] [nvarchar](max) NOT NULL,
	[ContentEN] [nvarchar](max) NOT NULL,
	[ContentVN] [nvarchar](max) NOT NULL,
	[Priority] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_PageContents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_PageIntros]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_PageIntros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PageTypeId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[TitleEN] [nvarchar](255) NOT NULL,
	[TitleVN] [nvarchar](255) NOT NULL,
	[ContentEN] [nvarchar](max) NOT NULL,
	[ContentVN] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_PageIntros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_PageTypes]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_PageTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Label] [nvarchar](100) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Table_PageTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Payments]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[PaymentTypeId] [tinyint] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[SepayObject] [nvarchar](1000) NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Products]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SubCategoryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[SizeId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
	[NameEN] [nvarchar](100) NOT NULL,
	[NameVN] [nvarchar](100) NOT NULL,
	[DescriptionEN] [nvarchar](max) NOT NULL,
	[DescriptionVN] [nvarchar](max) NOT NULL,
	[DetailsEN] [nvarchar](max) NOT NULL,
	[DetailsVN] [nvarchar](max) NOT NULL,
	[Images] [nvarchar](max) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[BackgroundImage] [nvarchar](max) NOT NULL,
	[IsRecommended] [bit] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[DiscountPercent] [int] NULL,
	[SalePrice] [float] NULL,
	[StartDiscountDate] [datetime2](7) NULL,
	[EndDiscountDate] [datetime2](7) NULL,
	[SaleOff] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Sizes]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Sizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameVN] [nvarchar](100) NOT NULL,
	[NameEN] [nvarchar](100) NOT NULL,
	[Priority] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_Sizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_SubCategories]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_SubCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[NameEN] [nvarchar](100) NOT NULL,
	[NameVN] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[InNavbar] [bit] NOT NULL,
	[Priority] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_SubCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Topics]    Script Date: 08/22/2025 2:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Topics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameEN] [nvarchar](225) NOT NULL,
	[NameVN] [nvarchar](225) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Priority] [int] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[InHomePage] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_Topics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250602044150_Initial', N'9.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250602045517_UpdateOrder', N'9.0.3')
GO
SET IDENTITY_INSERT [dbo].[Table_Blogs] ON 

SET IDENTITY_INSERT [dbo].[Table_Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Brands] ON 

INSERT [dbo].[Table_Brands] ([Id], [Name], [Note], [Avatar], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, N'Espoir', NULL, N'Lipstick\Brands\798a97f3_69a9_4b1d_82ae_5cfca95b4713.png', 1, CAST(N'2025-04-04T10:08:38.0889578' AS DateTime2), CAST(N'2025-04-04T10:08:38.0890069' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_Brands] ([Id], [Name], [Note], [Avatar], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, N'Yves Saint Laurent', N'Yves Henri Donat Mathieu-Saint-Laurent', N'Lipstick\Brands\d198adbe_c9fe_4b21_892b_834cdadc0ad6.jpg', 1, CAST(N'2025-04-04T10:42:31.0819064' AS DateTime2), CAST(N'2025-04-04T10:42:31.0819081' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_Brands] ([Id], [Name], [Note], [Avatar], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (3, N'Urban Decay', NULL, N'Lipstick\Brands\135d308e_360d_46a1_89aa_e1f91929f0ac.png', 1, CAST(N'2025-04-04T10:44:24.8420657' AS DateTime2), CAST(N'2025-04-04T10:44:24.8420674' AS DateTime2), 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Table_Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Categories] ON 

INSERT [dbo].[Table_Categories] ([Id], [NameEN], [NameVN], [Note], [InNavbar], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, N'Lipsticks', N'Son Môi', N'', 1, 1, CAST(N'2025-04-04T14:57:15.1581149' AS DateTime2), CAST(N'2025-04-25T18:01:25.3873551' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_Categories] ([Id], [NameEN], [NameVN], [Note], [InNavbar], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, N'Eye Makeups', N'Trang Điểm Mắt', N'', 1, 1, CAST(N'2025-04-04T15:14:07.9420289' AS DateTime2), CAST(N'2025-04-25T18:01:28.0906069' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_Categories] ([Id], [NameEN], [NameVN], [Note], [InNavbar], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (3, N'Face Makeups', N'Trang Điểm Mặt', NULL, 1, 1, CAST(N'2025-04-04T15:14:38.8547897' AS DateTime2), CAST(N'2025-04-25T18:01:30.7359289' AS DateTime2), 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Table_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Colors] ON 

INSERT [dbo].[Table_Colors] ([Id], [NameVN], [NameEN], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, N'Màu Hồng', N'Pink', 1, CAST(N'2025-04-04T17:06:51.9720233' AS DateTime2), CAST(N'2025-04-04T17:06:51.9720238' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_Colors] ([Id], [NameVN], [NameEN], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, N'Màu Đỏ', N'Red', 1, CAST(N'2025-04-04T21:28:33.9628179' AS DateTime2), CAST(N'2025-04-04T21:31:47.2912317' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_Colors] ([Id], [NameVN], [NameEN], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (3, N'Màu Cam', N'Orange', 1, CAST(N'2025-04-04T21:29:16.4609304' AS DateTime2), CAST(N'2025-04-04T21:29:16.4609317' AS DateTime2), 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Table_Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_HomeBanners] ON 

SET IDENTITY_INSERT [dbo].[Table_HomeBanners] OFF
GO
INSERT [dbo].[Table_OrderDetails] ([Id], [OrderId], [ProductId], [NameEN], [NameVN], [Avatar], [Quantity], [Price], [SaleOff], [DiscountPercent], [SalePrice], [IsDeleted]) VALUES (N'faf21845-1641-f011-9c22-000c29df2b34', N'f9f21845-1641-f011-9c22-000c29df2b34', 18, N'Son Dưỡng Dior Addict Lip Glow 004 Coral Màu Cam San Hô', N'Son Dưỡng Dior Addict Lip Glow 004 Coral Màu Cam San Hô', N'Lipstick\Products\23dca4c4_fb93_4d7f_9419_9a2e2c34eafe.jpg', 1, 890000, 0, 0, 0, 0)
GO
INSERT [dbo].[Table_Orders] ([Id], [UserId], [PaymentMethodId], [Code], [FullName], [PhoneNumber], [Email], [ShippingAddress], [ProvinceId], [DistrictId], [PaymentStatusId], [ShippingDate], [ReceiveDate], [Note], [Amount], [TotalQuantity], [CreatedOn], [ModifiedOn], [CreatedBy], [ModifiedBy], [OrderStatusId]) VALUES (N'f9f21845-1641-f011-9c22-000c29df2b34', 0, 1, N'MSL0z', N'Bao Ngoc Stupid', N'0903345673', N'', N'Anywhere', 50, 1, 2, NULL, NULL, NULL, 890000, 1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Table_PageContents] ON 

SET IDENTITY_INSERT [dbo].[Table_PageContents] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_PageIntros] ON 

INSERT [dbo].[Table_PageIntros] ([Id], [PageTypeId], [ImageUrl], [TitleEN], [TitleVN], [ContentEN], [ContentVN], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, 7, N'Lipstick\PageIntros\fe6af976_c8a1_47be_9f8e_8ab09735b4bb.png', N'Product', N'Sản phẩm', N'<p>Product introduction content</p>', N'<p>Nội dung giới thiệu trang sản phẩm</p>', CAST(N'2025-05-15T11:47:14.3902598' AS DateTime2), CAST(N'2025-05-15T15:29:34.2863825' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_PageIntros] ([Id], [PageTypeId], [ImageUrl], [TitleEN], [TitleVN], [ContentEN], [ContentVN], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (3, 8, NULL, N'Login', N'Đăng nhập', N'<p>Login page content</p>', N'<p>Nội dung trang đăng nhập</p>', CAST(N'2025-05-15T16:26:18.1281144' AS DateTime2), CAST(N'2025-05-15T16:27:19.8719653' AS DateTime2), 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Table_PageIntros] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_PageTypes] ON 

INSERT [dbo].[Table_PageTypes] ([Id], [Name], [Label], [CreatedOn], [ModifiedOn]) VALUES (1, N'About Us', N'AboutUs', CAST(N'2025-04-05T16:59:18.0316728' AS DateTime2), CAST(N'2025-04-05T16:59:18.0317203' AS DateTime2))
INSERT [dbo].[Table_PageTypes] ([Id], [Name], [Label], [CreatedOn], [ModifiedOn]) VALUES (2, N'Exchange And Return Policy', N'ExchangeNReturnPolicy', CAST(N'2025-04-05T17:05:01.2567123' AS DateTime2), CAST(N'2025-04-05T17:05:01.2567132' AS DateTime2))
INSERT [dbo].[Table_PageTypes] ([Id], [Name], [Label], [CreatedOn], [ModifiedOn]) VALUES (3, N'Terms And Conditions', N'TermsAndConditions', CAST(N'2025-04-05T17:05:56.2270618' AS DateTime2), CAST(N'2025-04-05T17:05:56.2270626' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Table_PageTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Products] ON 

SET IDENTITY_INSERT [dbo].[Table_Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Sizes] ON 

INSERT [dbo].[Table_Sizes] ([Id], [NameVN], [NameEN], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, N'200ml', N'200ml', 1, CAST(N'2025-04-04T21:34:04.7211757' AS DateTime2), CAST(N'2025-04-04T21:34:04.7211772' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_Sizes] ([Id], [NameVN], [NameEN], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, N'250ml', N'250ml', 1, CAST(N'2025-04-04T21:34:15.7276560' AS DateTime2), CAST(N'2025-04-04T21:34:15.7276566' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_Sizes] ([Id], [NameVN], [NameEN], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (3, N'300ml', N'300ml', 1, CAST(N'2025-04-04T21:34:24.6857084' AS DateTime2), CAST(N'2025-04-04T21:34:24.6857090' AS DateTime2), 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Table_Sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_SubCategories] ON 

INSERT [dbo].[Table_SubCategories] ([Id], [CategoryId], [NameEN], [NameVN], [Note], [InNavbar], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, 1, N'Lip Glosses', N'Son Bóng', N'', 1, 1, CAST(N'2025-04-04T15:52:50.1113622' AS DateTime2), CAST(N'2025-04-25T18:02:33.5550863' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_SubCategories] ([Id], [CategoryId], [NameEN], [NameVN], [Note], [InNavbar], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, 1, N'Lip Balms', N'Son Dưỡng', NULL, 1, 1, CAST(N'2025-04-04T15:53:48.5962035' AS DateTime2), CAST(N'2025-04-25T18:02:38.7878509' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_SubCategories] ([Id], [CategoryId], [NameEN], [NameVN], [Note], [InNavbar], [Priority], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (3, 1, N'Liquid Lipsticks', N'Son kem', NULL, 1, 1, CAST(N'2025-04-04T15:55:37.8032268' AS DateTime2), CAST(N'2025-04-25T18:02:43.9276192' AS DateTime2), 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Table_SubCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Topics] ON 

INSERT [dbo].[Table_Topics] ([Id], [NameEN], [NameVN], [Note], [Priority], [Avatar], [InHomePage], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, N'Latest News', N'Tin Tức Mới Nhất', NULL, 1, N'Lipstick\Topics\b6441361_c9ff_4fe5_9de0_9ef63eba68de.jpg', 1, CAST(N'2025-04-04T21:54:57.5563113' AS DateTime2), CAST(N'2025-04-04T21:54:57.5563575' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_Topics] ([Id], [NameEN], [NameVN], [Note], [Priority], [Avatar], [InHomePage], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, N'Makeup Knowledge', N'Kiến Thức Trang Điểm', NULL, 1, N'Lipstick\Topics\5ef1ef14_67f2_438c_a299_38a32697cf3c.jpg', 1, CAST(N'2025-04-04T21:57:29.4793547' AS DateTime2), CAST(N'2025-04-04T21:57:29.4793567' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Table_Topics] ([Id], [NameEN], [NameVN], [Note], [Priority], [Avatar], [InHomePage], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (3, N'Lipstick Review', N'Review Son Môi', NULL, 1, N'Lipstick\Topics\6c301f4f_f90e_417b_81cb_ad01415ead6f.png', 1, CAST(N'2025-04-04T22:01:41.8180567' AS DateTime2), CAST(N'2025-04-04T22:01:41.8180588' AS DateTime2), 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Table_Topics] OFF
GO
ALTER TABLE [dbo].[Table_Categories] ADD  DEFAULT (CONVERT([bit],(0))) FOR [InNavbar]
GO
ALTER TABLE [dbo].[Table_Categories] ADD  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[Table_Categories] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Table_Categories] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Table_Colors] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Table_Colors] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Table_OrderDetails] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Table_Orders] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Table_Orders] ADD  DEFAULT ((0)) FOR [OrderStatusId]
GO
ALTER TABLE [dbo].[Table_Payments] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Table_Sizes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Table_Sizes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Table_SubCategories] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Table_SubCategories] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Table_Topics] ADD  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[Table_Topics] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Table_Topics] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Table_OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Table_OrderDetails_Table_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Table_Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Table_OrderDetails] CHECK CONSTRAINT [FK_Table_OrderDetails_Table_Orders_OrderId]
GO
