<footer class="footerContainer">
    <div class="footerBox">
        <div class="row">
            <div class="col-4">
                <img src="~/assets/images/logo.png" alt="logo" />
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan-tium doloremque laudantium, totam rem aperiam,
                </p>
            </div>
            <div class="col-4">
                <h5>Address</h5>
                <ul>
                    <li>No 40 Baria Sreet 133/2</li>
                    <li> + (156) 1800-366-6666</li>
                    <li> Eric-82@example.com</li>
                    <li> www.royate.com</li>
                    <li> Mon - Sat: 7AM - 10PM</li>
                </ul>
            </div>
            <div class="col-4">
                <h5>Lastest Post</h5>
                <ul>
                    <li>
                        <span>15.07.2018</span>
                        At vero eos et accusamus
                    </li>
                    <li>
                        <span>14.07.2018</span>
                        Ut enim ad minima veniam
                    </li>
                    <li>
                        <span>13.07.2018</span>
                        Nor again is there anyone
                    </li>
                </ul>
            </div>
        </div>
        <div>
            &copy; 2025 - Restaurant - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </div>
</footer>