<section class="homeBannerV1">
    <div class="banner">
        <img src="~/assets/images/home/slideshow-1.jpg" alt="banner" class="w-100" />
        <div class="intro">
            <h6 class="subTitle">
                Because you deserve to enjoy the best
            </h6>
            <h1 class="title">Nice Dinnner</h1>
            <img src="~/assets/images/home/cuisine-1956.png" alt="Cuisine 1956" />
        </div>
    </div>
</section>