@font-face {
  font-family: "Satisfy Regular";
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway SemiBold";
  src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway Bold";
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Bitter Regular";
  src: url("../assets/fonts/Bitter/Bitter-Regular.ttf");
  font-display: swap;
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#endregion*/
/*#region font family*/
/*#endregion*/
/*#region responsive*/
/*#endregion*/
/*#region banner*/
.menuBanner {
  background-image: url("../assets/images/menu/banner.jpg");
}

/*#endregion*/
/*#region menu page*/
.menuPage .menuHolder {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
.menuPage .menuHolder .menuThumb {
  margin-right: 20px;
}
.menuPage .menuHolder .menuThumb img {
  width: 84px;
  height: 84px;
  object-fit: cover;
}
.menuPage .menuHolder .menuItem {
  flex-grow: 1;
  margin-bottom: 29px;
}
.menuPage .menuHolder .menuItem:last-child {
  margin-bottom: 0;
}
.menuPage .menuHolder .menuItem h5.boldColor {
  color: #333;
}
.menuPage .menuHolder .menuItem h5 {
  margin-bottom: 9px;
  color: #CCCCCC;
  font-weight: 400;
  display: flex;
}
.menuPage .menuHolder .menuItem a {
  text-decoration: none;
}
.menuPage .menuHolder .menuItem h5.boldColor a {
  color: #333;
}
.menuPage .menuHolder .menuItem h5 a {
  /*color: $color_light_grey_CCCCCC;*/
  float: left;
}
.menuPage .menuHolder .menuItem h5 .dots {
  flex-grow: 1;
  border-bottom: 1px dotted;
  transform: translateY(-6px);
}
.menuPage .menuHolder .menuItem h5 .price span {
  float: left;
}
.menuPage .menuHolder .menuItem ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.menuPage .menuHolder .menuItem ul li {
  margin-right: 5px;
  list-style-type: none;
}
.menuPage .menuHolder .menuItem ul li a {
  color: #999;
}
.menuPage .menuHolder .menuItem ul li a:after {
  content: "/";
  margin-left: 4px;
}
.menuPage .menuHolder .menuItem p {
  color: #999;
}
.menuPage .menuHolder.left {
  padding-right: 25px;
}

/*#endregion*/
/*#region menu block background*/
.menuBlockBg {
  height: 330px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.menuBlockBg .section-header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* #endregion*/
