@font-face {
  font-family: "Satisfy Regular";
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway SemiBold";
  src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway Bold";
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Bitter Regular";
  src: url("../assets/fonts/Bitter/Bitter-Regular.ttf");
  font-display: swap;
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#endregion*/
/*#region font family*/
/*#endregion*/
/*#region responsive*/
/*#endregion*/
/*#region banner*/
.contactBanner {
  background-image: url("../assets/images/contact/banner.jpg");
}

/*#endregion*/
/* #region contact us*/
@media only screen and (width < 768px) {
  .contactUsContent {
    margin-bottom: 50px;
  }
}
.contactUsContent h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.contactUsContent p {
  margin-bottom: 89px;
}
@media only screen and (width < 1200px) {
  .contactUsContent p {
    margin-bottom: 36px;
  }
}
.contactUsContent .contactUsCol h5 {
  margin-bottom: 11px;
}
.contactUsContent .contactUsCol .body {
  margin-bottom: 53px;
}
.contactUsContent .contactUsCol .address {
  margin-bottom: 28px;
}
.contactUsContent .contactUsCol span, .contactUsContent .contactUsCol a {
  display: block;
  color: #666666;
  text-decoration: none;
}
.contactUsContent .social a {
  color: #999999;
  text-decoration: none;
  font-size: 20px;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contactUsForm {
  padding-top: 7px;
}
.contactUsForm .formHolder {
  margin-bottom: 30px;
  position: relative;
}
.contactUsForm .form-control {
  height: 60px;
  border: 1px solid #e5e5e5;
  padding: 0 19px;
  color: #999999;
  font-size: 15px;
}
.contactUsForm textarea.form-control {
  padding: 18px 19px;
  height: 200px;
}

/* #endregion */
/* #region map */
.contactUsMapHolder {
  height: 450px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.contactUsMapHolder iframe {
  height: 100%;
  width: 100%;
  background-color: rgb(229, 227, 223);
}
@media only screen and (width < 992px) {
  .contactUsMapHolder {
    height: 400px;
  }
}

/* #endregion*/
