@import "VariableGlobal.scss";


.homePage {
    //max-width: $maxWidthContent;
    margin: auto;
    width: 100%;

    .homeBannerV1 {
        width: 100%;
        max-height: 100vh;
        overflow: hidden;

        .banner {
            width: 100%;
            aspect-ratio: 16/9;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .intro {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;

                .title {
                    font-weight: 400;
                    font-size: 99px;
                }

                .subTitle {
                    font-weight: 500;
                    font-size: 22px;
                    color: rgb(204, 204, 204);
                }

                img {
                    max-width: 320px;
                }
            }
        }
        /*.categorySuggestion {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .suggestion {
                width: auto;
                max-height: 274px;
                border: 1px solid #e5e7eb;
            }
        }*/
        .subBanner {
            width: 100%;
            min-height: 274px;
            border: 1px solid #e5e7eb;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;



            @include respond(map-get($breakPoint,"sm")) {
                min-height: 200px;

                .subBanner1 {
                    width: 80% !important;
                }
            }

            .subBanner1, .subBanner2, .subBanner3 {
                position: absolute;
            }

            .subBanner1 {
                width: 60%;
                min-height: 40%;
                background-color: #fff;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                color: #ff2323;
                box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);

                & a {
                    color: #ff2323 !important;
                }
            }

            .subBanner2 {
                top: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                & div {
                    font-size: 1.25rem;
                    font-weight: bold;
                    width: 70%;
                    background-color: #e7328e;
                    margin-bottom: 0.5rem;
                    color: #fff;
                    padding-bottom: 0.25rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                & a {
                    color: #fff !important;
                    text-decoration: none;
                    text-align: center;
                    width: 60%;
                    padding: 0.25rem 0;
                    background-color: #ff2323;
                    border: 1px solid #fff;
                }
            }

            .subBanner3 {
                top: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & div {
                    font-size: 1.25rem;
                    font-weight: bold;
                    width: 70%;
                    color: #e6338c;
                    background: black;
                    opacity: 0.8;
                    padding: 0.25rem 0;
                    text-align: center;
                }
            }
        }
    }

    .homeContent {
        overflow: hidden;

        @include respond(map-get($breakPoint,"lg")) {
            max-width: 95%;
            margin: auto;
        }
    }

    .primarySection{

    }
}
