@import "VariableGlobal.scss";
/*#region header*/
.headerContainer {
    top: 0;
    position: fixed;
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
    background-color: #000;
    z-index: 9;
    padding: 20px 80px;

    .headerDesktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        .logoImage {
            max-width: 52px;
            height: auto;
        }

        .navBar {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;

            .navItem {
                margin-right: 1.5rem;
                display: flex;
                align-items: center;

                a {
                    color: $color_white_fff;
                    text-decoration: unset;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                }

                a:hover {
                    color: $color_pink_e72f8b;
                }

                svg {
                    margin-right: 6px;
                }
            }

            .navItem:last-child {
                margin-right: 0;
            }
        }
    }


    .headerMain {
        max-width: $maxWidthContent;
        height: 110px;
        margin: auto;
        //overflow: scroll;
        z-index: 2;
        position: relative;
        background-color: #fff;
        //display: flex;
        //justify-content: space-between;
        //align-items: center;

        @include respond(map-get($breakPoint,"lg")) {
            padding: 0 0.75rem;
        }

        @include respond(map-get($breakPoint,"sm")) {
            height: auto;
            padding: 0.5rem 0.75rem;
        }

        .boxCard {
            width: 100%;
            display: flex;
            justify-content: end;
            flex-direction: row;
            align-items: center;

            .ti-close, .ti-search {
                font-size: 1.5rem;
                font-weight: bold;
                margin-left: 1rem;
            }
        }

        .logo {
            max-width: 210px;
            height: auto;

            @include respond(map-get($breakPoint,"xs")) {
                max-width: 160px;
            }
        }

        .call {
            display: flex;
            flex-direction: row;
            height: 35px;
            width: 70%;
            max-width: 130px;
            border: 2px solid #333;
            border-radius: 20px;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            color: #000;
            opacity: 0.5;

            svg {
                margin-right: 6px;
            }
        }

        .call:hover {
            background-color: $color_black_000000;
            color: $color_white_fff;
            opacity: 1;

            svg path {
                fill: $color_white_fff !important;
            }
        }

        .cart {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .numberProductInCard {
                position: absolute;
                top: -5px;
                right: -10px;
                min-width: 20px;
                width: max-content;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #E32E2D;

                span {
                    color: #fff;
                    font-weight: 500;
                    font-size: 12px;
                }
            }

            .cartImage {
                height: auto;
                width: 1.75rem;
            }
        }
    }

    .headerBottom {
        max-width: $maxWidthContent;
        margin: auto;
        padding: 0.25rem 0;

        @include respond(map-get($breakPoint,"lg")) {
            border-top: 1px solid rgba(0, 0, 0, 0.125);
        }

        @include respond(map-get($breakPoint,"sm")) {
            display: none;
        }

        .menuGroup {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            padding: 0.25rem 0;
            flex-wrap: wrap;

            & > li {
                display: inline;
                position: relative;

                a {
                    padding: 0 14px;
                    color: $color_black_000000;
                    text-decoration: unset;
                    border-right: 1px solid #ccc;
                }
                /*a:first-child {
                    border-left: unset;
                }*/

                a:hover {
                    color: $color_pink_e72f8b;
                }

                .menuItem {
                    display: none;
                    list-style-type: none;
                    padding: 0;
                    position: absolute;
                    width: max-content;
                    max-height: 150px;
                    background-color: $color_white_fff;
                    z-index: 100;
                    padding: 1rem 0.5rem;
                    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.125);
                    flex-wrap: wrap;
                    flex-direction: column;

                    a {
                        border: unset;
                        padding: 0;
                        margin: 0 0.75rem;
                        text-transform: capitalize;
                    }
                }
            }

.navbarDesktop > ul > li {
    margin-right: 29px;
}

.navbarDesktop > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 3px 7px 2px;
    color: #fff;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
fadeInDown animation {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}

.navbarDesktop.fixed {
    -webkit-animation: fadeInDown 0.3s ease-out forwards;
    -moz-animation: fadeInDown 0.3s ease-out forwards;
    -o-animation: fadeInDown 0.3s ease-out forwards;
    animation: fadeInDown 0.3s ease-out forwards;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #000;
    width: 100%;
    padding: 20px 80px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
/* Responsive */
@media (max-width: 1500px) {
    .navbarDesktop:not(.aside) {
        top: 20px;
    }
    .navbarDesktop:not(.aside) .logo {
        max-width: 32%;
    }
    .navbarDesktop:not(.aside).fixed {
        padding: 10px 80px;
        top: 0;
    }
}

@media (max-width: 1200px) {
    .navbarDesktop, .navbarDesktop.fixed {
        padding-left: 40px;
        padding-right: 40px;
    }
    .navbarDesktop > ul > li,
    .navbarDesktop.fixed > ul > li {
        margin-right: 19px;
    }
    .navbarDesktop > ul > li a, .navbarDesktop.fixed > ul > li a {
        pointer-events: auto;
    }
    .navbarDesktop > ul > li > a {
        font-size: 14px;
    }
    /*.navbarDesktop > ul > li a, .navbarDesktop.fixed > ul > li a {
        pointer-events: none;
    }*/
    /*.navbarDesktop, .navbarDesktop.fixed {
        padding-left: 40px;
        padding-right: 40px;
    }*/
}
@media (max-width: 992px) {
    .navbarDesktop {
        display: none;
    }
}
/*#endregion*/
/*#region footer*/
footer {
    background: #181818;
    color: #b2b2b2 !important;
    position: relative;
}
.footerTop {
    text-align: center;
}
.footerBottom {
    padding: 20px 0 19px;
    text-align: center;
}

.footerTop .footerTopWrapper {
    padding-top: 80px;
    padding-bottom: 60px;
    border-bottom: 1px solid #333;
}
/*#endregion*/
/*#region footer*/
.footerContainer {
    width: 100%;
    margin: auto;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.125);
    background-color: $color_black_000000;

    @include respond(map-get($breakPoint,"lg")) {
        padding: 0 1rem;
    }

    #chatbox {
        width: 320px;
        height: 420px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: #fff;
        z-index: 1;
        border: 1px solid #000;
        border-radius: 5px;
        box-shadow: 0 0 10px #c1c1c1;

        .chatboxHeader {
            height: 10%;
            border-bottom: 1px solid #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 6px;
            background-color: #000;
            color: $color_pink_e72f8b;

            span {
                font-weight: 600;
            }
        }

        .chatboxContent {
            height: 80%;
            padding: 4px 6px;
            overflow-y: scroll;

            .response {
                display: flex;
                flex-direction: row;

                .avatar {
                    width: 50px;
                    height: 50px;
                }

                .responseContent {
                    display: flex;
                    align-items: center;
                }
            }

            .request{
                text-align: end;
            }
        }

        .chatboxContent::-webkit-scrollbar {
            width: 5px;
        }

        .chatboxContent::-webkit-scrollbar-track {
            background: #c1c1c1;
        }

        .chatboxContent::-webkit-scrollbar-thumb {
            background: #000;
        }


        .chatboxFooter {
            height: 10%;
            border-top: 1px solid #000;

            .form-control {
                border: unset;
            }

            .form-control:focus {
                outline: unset;
                box-shadow: unset;
            }
        }
    }

    #chatbot {
        width: 100px;
        height: 100px;
        position: fixed;
        bottom: 110px;
        right: 0;
        z-index: 1;
        cursor: pointer;

        img {
            width: 100%;
            animation: chatbotAnimation 3s infinite;
        }
    }

    //#chatbot::before {
    //    content: "Xin chào!";
    //    background-color: #fff;
    //    border-radius: 5px;
    //    padding: 0 4px;
    //    border-end-end-radius: unset;
    //    position: absolute;
    //    top: -20px;
    //}

    @keyframes chatbotAnimation {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(-15deg);
        }

        75% {
            transform: rotate(15deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    #goTop {
        background-color: #fafafa;
        display: none;
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 60px;
        right: 25px;
        border-radius: 50%;
        border: 3px solid #000;
        z-index: 1;
        justify-content: center;
        align-items: center;
        opacity: 0.5;

        @include respond(map-get($breakPoint,"sm")) {
            width: 40px;
            height: 40px;
            bottom: 50px;
        }

        span {
            font-size: 20px;
            font-weight: bold;

            @include respond(map-get($breakPoint,"sm")) {
                font-size: 16px;
            }
        }
    }
}
@media (max-width: 768px) {
    .footerTop .footerTopWrapper, .footerTop .footerTopWrapper.pb-54 {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .topFooter {
        width: 100%;
        margin: auto;
        max-width: $maxWidthFooterContent;
    }

    .bottomFooter {
        width: 100%;
        margin: auto;
        max-width: $maxWidthFooterContent;
    }

    ul li {
        list-style-type: none;
        padding: 8px 0;
        border-bottom: 1px solid $color_black_1e1e1e;
    }

    ul li:last-child {
        border-bottom: none;
    }

    ul li a {
        color: $color_white_fff;
        text-decoration: none;
    }
    /*  .is-diliver {
        height: 3px;
        display: block;
        background-color: rgba(255,255,255,0.3);
        margin: 1em 0;
        width: 100%;
        max-width: 30px;
    }*/
}
/*#endregion*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

//body {
//  margin-bottom: 60px;
//}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

    .page-link:hover, .active > .page-link {
        background-color: black;
        color: #fff;
        font-weight: bold;
    }
}
/*#endregion*/
/*#region Toast*/
#toastContainer .toast-body .toastImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid #a5a1a1;
}
/*#endregion*/